management:
  endpoints:
      enabled-by-default: false
      web:
        base-path: /
        path-mapping:
          health: disqualified-officers-search-consumer/healthcheck
        exposure:
          include: health
  endpoint:
      health:
        enabled: true
        show-details: never

spring:
  kafka:
    bootstrap-servers: ${STREAMING_KAFKA_BROKER_URL:localhost:9092}

api:
  search-api-key: ${CHS_API_KEY:apikey}
  api-url: ${API_URL:http://localhost:8888}
  internal-api-url: ${INTERNAL_API_URL:localhost}

disqualified-officers:
  search:
    group-id: ${GROUP_ID:disqualified-officers-search-consumer}
    retry-attempts: 4
    backoff-delay: 100
    topic: stream-disqualifications
    retry-suffix: ${RETRY_SUFFIX:-retry}
    error-suffix: ${ERROR_SUFFIX:-error}

logger:
  namespace: disqualified-officers-search-consumer

wiremock:
  server:
    port: 8888
